.container-fluid{
    background-color: #efefef;
}

.dropdown {
    background-color: azure;
    border: 2px solid #88e4ff;
    border-radius: 10px;
}

.dropdown-menu, a {
    cursor: pointer;
}

#name, #price {
    font-size: 30px;
    color: red;
}

#id {
    display: none;
}

.body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size:12px;
    line-height:16px;
    color:#636363;
}

#frame {
    background-color: #f6f6f6;
    font-size: large;
    border-radius: 20px;
    border: 2px solid #88e4ff;
    margin-left: auto;
    margin-right: auto;
}

#products {
    background-color: #f6f6f6;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #88e4ff;
}



